.wrapper {
  background: red;
  max-width: 80em;
  margin: 0 auto;
}

.header {
  background: white;
  padding-left: 3.515625%;
}

.logo {
  float: left;
  padding-top: 17px;
  padding-bottom: 16px;
  width: 9.311740890688259%;
}

.header-right {
  float: right;
}

.navigation {
  float: left;
  padding: 0 12px;
}

.menu-btn {
  float: right;
}

.slider {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 100%;
  background: grey;
}

.main-container {
  background: pink;
}

.feature-wrapper {
  padding: 18px 1.25% 38px;
  background: white;
}

.about-wrapper {
  background: #fbf8f6;
}

.counter-wrapper {
  background: #fe6261;
  padding-top: 36px;
  padding-bottom: 35px;
  border-top: 1px solid #fe4e4d;
  border-bottom: 1px solid #fe4e4d;
}

.posts {
  background: white;
}

.footer {
  background: #333333;
  padding: 63px 0 63px 6.25%;
}
