.wrapper {
  background: red;
  max-width: 80em;
  /*1280px*/
  margin: 0 auto;
}

.header {
  background: white;
  padding-left:  3.515625%;
  /*45px;*/
}

.logo {
  float: left;
  padding-top: 17px;
  padding-bottom: 16px;
  /*16px*/
}

.header-right {
  float: right;
}

.navigation {
  float: left;
  padding: 0 12px;
}

.menu-btn {
  float: right;
}

.slider{
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  width: 100%;
  /*height: 590px;*/
  background: grey;
}

.main-container {
  background: pink;
}

.feature-wrapper {
  padding: 18px 16px 38px;
  background: white;
  text-align: center;
}

.about-wrapper {
  background: #fbf8f6;
}

.counter-wrapper {
  background: #fe6261;
  padding-top: 36px;
  padding-bottom: 35px;
  border-top: 1px solid #fe4e4d;
  border-bottom: 1px solid #fe4e4d;
  text-align: center;
}

.posts {
  background: white;
}

.footer {
  background: #333333;
  padding: 63px 0 63px 6.25%;
}
