@media (max-width: 1024px) {

  .about-content {
    padding: 49px 10.78125% 0px; /*69px;*/
  }

  .post-content {
    padding: 8px 6.5625% 0;
  }

   .posts ul li {
    width: 100%;
  }
} 



@media (max-width: 768px) {

  .about-content {
    padding: 79px 10.78125%; /*69px;*/
  } 

  .about-right {
    width: 100%;
  }

  .about-left {
    width: 100%;
  }

  .feature-inner{
    width: 100%;
  }
 
  .feature-inner ul li{
    width: 33.33333333333333%;
  }

  .posts ul li {
    width: 100%;
  }

}
