img{
  display:block;
}


/*style for navigation bar*/

.navigation ul{
  list-style: none;
}

.navigation ul li{
  float: left;
  padding: 0 15px;
  background: ;
}

.navigation ul li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  color: #49443d;
  background: url('../images/menu-arrow.png') right center no-repeat;
  padding-right: 7px;
  line-height: 59px;
}

.navigation ul li a:hover{
  color: #fe444b;
  background: url('../images/menu-arrow-active.png') right center no-repeat;
}

.navigation .active a{
  color: #fe444b;
  background: url('../images/menu-arrow-active.png') right center no-repeat;
}

.search-menu{
  float: left;
  width: 57px;
  height: 59px;
  background: url('../images/search-icon.png') center center no-repeat;
  border-left: 1px solid #ededed;
}

.search-menu a{
  display: block;
}

.shopping-cart{
  float: left;
  width: 56px; 
  background: url('../images/shopping-cart.png') 17px center no-repeat;
  border-left: 1px solid #ececec;
  border-right: 1px solid #7d7d7d;
}

.cart-item-no{
  line-height: 59px;
  padding-right: 14px;
  float: right;
  font-family: 'Roboto',sans-serif;
  font-size: 11px;
  color: #575861;
}


.burger-btn{
  float: left;
  width: 56px;
  height: 59px;
  background: url('../images/burger-btn.png') center center no-repeat;
  background-color: #333333;
  border-left: 1px solid #161616;
  border-right: 1px solid #161616;
}


/*feature section*/
.feature-wrapper ul{
  list-style: none;
}

.feature-wrapper ul li{
  float: left;
  background: url('../images/feature-btm-border.png') center bottom no-repeat;
  margin: 0 2.344381568310428%; /*29px*/
  text-align: center;
  width: 11.96443007275667%;
}

.feature-wrapper ul li a{
  text-decoration: none;
}

.top-image{
  display: block;
  width: 100%; /*148px;*/
  height: 60px;
}

.top-image.first{
  background: url('../images/feature-1.png') center center no-repeat;
}

.top-image.second{
  background: url('../images/feature-2.png') center center no-repeat;
}

.top-image.third{
  background: url('../images/feature-3.png') center center no-repeat;
}

.top-image.fourth{
  background: url('../images/feature-4.png') center center no-repeat;
}

.bottom-text{
  line-height: 40px;
  font-size: 10.5px;
  color: #616971; 
} 


/*about section*/

.about-left{
  float: left;
  width: 50%; /*640px*/
  background: #fbf8f6;  
}

.about-content{
  padding: 79px 69px;
}

.about-content h1{
  font-size: 27px;
  font-weight: bold;
  color: #333331;
  background: red;
}

.about-top{
  padding-top: 18px;
}

.about-top p{
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #625757;
  background: red;
}

.about-bottom{
  padding: 22px 0 28px;
}

.about-bottom p{
  font-size: 10px;
  line-height: 18px;
  color: #7f7a7d;
  background: red;
}

.btn{
  display: inline-block;
  background: #fe6261;
  margin-right: 11px;
  border: 1px solid #fe4d4c;
  padding: 0px 16px;
}

.btn a{
  display: block;
  text-decoration: none;
  font-size: 9px;
  color: white;
  line-height: 28px;
  padding-right: 18px;
  background: url('../images/btn-arrow-active.png') center right no-repeat;
}

.about-right{
  float: right;
  width: 50%;
}

.about-right img{
  display: block;
  height: 100%;
  width: 100%;
}


