img{
  display:block;
}


/*style for navigation bar*/

.navigation ul{
  list-style: none;
}

.navigation ul li{
  float: left;
  padding: 0 15px;
  background: ;
}

.navigation ul li a{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 9px;
  color: #49443d;
  background: url('../images/menu-arrow.png') right center no-repeat;
  padding-right: 7px;
  line-height: 59px;
}

.navigation ul li a:hover{
  color: #fe444b;
  background: url('../images/menu-arrow-active.png') right center no-repeat;
}

.navigation .active a{
  color: #fe444b;
  background: url('../images/menu-arrow-active.png') right center no-repeat;
}

.search-menu{
  float: left;
  width: 57px;
  height: 59px;
  background: url('../images/search-icon.png') center center no-repeat;
  border-left: 1px solid #ededed;
}

.search-menu a{
  display: block;
}

.shopping-cart{
  float: left;
  width: 56px; 
  background: url('../images/shopping-cart.png') 17px center no-repeat;
  border-left: 1px solid #ececec;
  border-right: 1px solid #7d7d7d;
}

.cart-item-no{
  line-height: 59px;
  padding-right: 14px;
  float: right;
  font-family: 'Roboto',sans-serif;
  font-size: 11px;
  color: #575861;
}


.burger-btn{
  float: left;
  width: 56px;
  height: 59px;
  background: url('../images/burger-btn.png') center center no-repeat;
  background-color: #333333;
  border-left: 1px solid #161616;
  border-right: 1px solid #161616;
}


/*feature section*/
.feature-wrapper ul{
  list-style: none;
  display: table;
  margin: 0 auto;
}

.feature-wrapper ul li{
  float: left;
  background: url('../images/feature-btm-border.png') center bottom no-repeat;
  margin: 0 29px; /*2.344381568310428%;*/
  text-align: center;
  width: 148px;
}

.feature-wrapper ul li a{
  text-decoration: none;
}

.top-image{
  display: block;
  width: 148px; /*100%*/
  height: 60px;
}

.top-image.first{
  background: url('../images/feature-1.png') center center no-repeat;
}

.top-image.second{
  background: url('../images/feature-2.png') center center no-repeat;
}

.top-image.third{
  background: url('../images/feature-3.png') center center no-repeat;
}

.top-image.fourth{
  background: url('../images/feature-4.png') center center no-repeat;
}

.bottom-text{
  line-height: 40px;
  font-size: 10.5px;
  color: #616971; 
} 


/*about section*/

.about-left{
  float: left;
  width: 640px; /*50%*/
  background: #fbf8f6;  
}

.about-content{
  padding: 79px 69px;
}

.about-content h1{
  font-size: 27px;
  font-weight: bold;
  color: #333331;
}

.about-top{
  padding-top: 18px;
}

.about-top p{
  font-family: 'Roboto',sans-serif;
  font-size: 13px;
  line-height: 21px;
  color: #625757;
}

.about-bottom{
  padding: 22px 0 28px;
}

.about-bottom p{
  font-family: 'Roboto',sans-serif;
  font-size: 10px;
  line-height: 18px;
  color: #7f7a7d;
}

.btn{
  display: inline-block;
  background: #fbf8f6;
  margin-right: 11px;
  border: 1px solid #cccac9;
  padding: 0px 16px;
}

.btn a{
  display: block;
  text-decoration: none;
  font-size: 9px;
  line-height: 28px;
  padding-right: 18px;
  color: #756264;
  background: url('../images/btn-arrow.png') center right no-repeat;
}

.btn:hover{
  background: #fe6261;
  border: 1px solid #fe4d4c;
}

.btn:hover a{
  color: white;
  background: url('../images/btn-arrow-active.png') center right no-repeat;
}

.about-right{
  float: right;
  width: 640px;
  height: 386px;
  background: url('../images/about-image.png');
}


/*counter starts here*/
.counter-inner ul{
  list-style: none;
  display: table;
  margin: 0 auto;
}

.counter-inner ul li{
  float: left;
  width: 190px;
}

.counter-image{
  display: block;
  width: 78px;
  height: 70px;
  border-right: 2px solid #fc6867;
  float: left;
}

.counter-image.first{
  background: url('../images/counter-1.png') center center no-repeat;
}

.counter-image.second{
  background: url('../images/counter-2.png') center center no-repeat;
}
.counter-image.third{
  background: url('../images/counter-3.png') center center no-repeat;
}
.counter-image.fourth{
  background: url('../images/counter-4.png') center center no-repeat;
}

.counter-number{
  font-family: 'Roboto',sans-serif;
  font-size: 30px;
  color: #fd7e7e;
  float: left;
  padding-top: 15px;
  padding-left: 18px;
}

.counter-text{
  float: left;
  font-size: 10px;
  color: #fd7e7e;
  padding-top: 48px;
  margin-left: -18px;
}

/*style for posts section*/

.posts ul{
  list-style: none;
}

.posts ul li{
  float: left;
}

.post-image{
  float: left;
}

.post-image img{
  height: 241px;
  width: 320px;
}

.post-content{
  float: left;
  height: 163px;
  width: 236px;
  background: #ffffff;
  padding: 39px 42px;
} 

.post-date, .post-comment{
   font-family: 'Roboto',sans-serif;
   font-size: 9px;
   color: #787d92;
}

.post-content h1{
  color: #3e2c36;
  font-size: 10px;
  padding: 13px 0;
}

.post-content p{
   font-family: 'Roboto',sans-serif;
   font-size: 10px;
   color: #969793;
   line-height: 17px;
   padding-top: 5px;
   padding-bottom: 19px;
}

.post-read-more a{
  text-decoration: none;
  color: #534f58;
  font-size: 9px;
  padding-right: 15px;
  background: url('../images/read-more-arrow.png') right center no-repeat;;
}

.opposite .post-content{
  float: left;
}

.opposite .post-image{
  float: right;
}

/*click more section*/
.more{
  height: 68px;
  text-align: center;
  background: #fcf8f5;


}

.more a{
  display: block;
  padding: 22px 0;
  text-decoration: none;
  font-size: 10px;
  color: #161c22;
  padding-bottom: 17px;
  background: url('../images/see-more-arrow.png') center bottom no-repeat;
}


/*footer section*/

.footer-column{
  width: 253px;
  padding-right: 37px;
  float: left;
}

.logo-footer{
  padding-bottom: 18px;
}

.footer-column p{
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  color: #88898b;
  line-height: 18px;
}

.social-icons{
  padding-top: 12px;
  padding-bottom: 14px;
  border-bottom: 1px solid #414141;

}

.social-icons img{
  padding-right: 2px;
  float: left;
}

.subscribe-form{
  padding-top: 16px;
}

.subscribe-input input{
  border: 1px solid #3b3b3b;
  background: none;
  outline: none;
  height: 26px;
  width: 141px;
  padding: 0 13px;
  font-size: 9px;
  float: left;
  color: #ffefd9;
}

.subscribe-btn input{
  border: none;
  background: #fe6261;
  float: left;
  width: 84px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 9px;
  color: #ffefd9;
}

.column-title{
  font-size: 11px;
  color: #fdffff;
  display: block;
  padding-top: 2px;
  padding-bottom: 17px;
}

.footer-column ul li{
  padding: 14px 0;
  font-family: 'Roboto',sans-serif;
  border-top: 1px solid #3f3f3f;
}
.footer-column ul li:first-child{
   border-top: none;
}

.blog-title{
  display: block;
  padding-bottom: 7px;
}

.blog-title a{
  text-decoration: none;
  font-size: 10px;
  color: #dcded7;
  display: block;
}

.blog-date{
  font-size: 10px;
  color: #787a7b;
  display: block;
}

.twitter-post{
  font-size: 10px;
  color: #707979;
  line-height: 16px;
  padding-left: 18px;
  background: url('../images/twitter-feed-icon.png') left center no-repeat;
}

.twitter-post a{
  text-decoration: none;
  color: #f7f2d4;
}

.photo-stream{
  padding-top: 9px;
}

.photo-stream img{
  float: left;
  padding-right: 4px;
  padding-bottom: 5px;
}

.flickr{
  font-family: 'Roboto',sans-serif;
  font-size: 8px;
  color: #6d7379;
  padding-left: 17px;
  background: url('../images/flicker-icon.png') left center no-repeat;
}